In [4]:
import sys
import os

# Add the src directory to the path so we can import our package
sys.path.append('../')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import your package
from src.pfp import core, utils

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [6]:
DATA_PATH = '/Users/guy/Projects/noni/pfp/data/raw/'
pdf_file = "CEI-2017-Final.pdf"
pdf_path = DATA_PATH+pdf_file

pdf_list = utils.find_pdfs_in_folder(DATA_PATH)
pdf_list

['/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2009.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2008.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI-2018-FullReport.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI-2020.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI-2016-FullReport.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI-2015-rev.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI-2019-FullReport.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI-2022-Appendices-G.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI-2017-Final.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CEI_2014_final_draft_7.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2003.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2002.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2006.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2012.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2013.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2011.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2005.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2004.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2010.pdf',
 '/Users/guy/Projects/noni/pfp/data/raw/cei-2021-appentix-employer-ratings.pdf']

In [14]:
df_list = []
for pdf in pdf_list:
    try:
        df_list.append(utils.pdf_to_df(pdf))
    except Exception as e:
        print(f"Error processing {pdf}: {e}")
        continue

/Users/guy/Projects/noni/pfp/venv/lib/python3.10/site-packages/pypdf/_crypt_providers/_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4

Error processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2009.pdf: 'float' object has no attribute 'strip'
Error processing /Users/guy/Projects/noni/pfp/data/raw/CEI-2015-rev.pdf: 'float' object has no attribute 'strip'
Error processing /Users/guy/Projects/noni/pfp/data/raw/CEI-2022-Appendices-G.pdf: sequence index out of range
Error processing /Users/guy/Projects/noni/pfp/data/raw/CEI_2014_final_draft_7.pdf: 'float' object has no attribute 'strip'
Error processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2003.pdf: sequence index out of range
Error processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2002.pdf: sequence index out of range

/Users/guy/Projects/noni/pfp/venv/lib/python3.10/site-packages/camelot/parsers/base.py:238: UserWarning: No tables found in table area (99.0, 129.70100000000002, 548.8930000000001, 421.97650000000004)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Error processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2006.pdf: 'float' object has no attribute 'strip'
Error processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2013.pdf: 'float' object has no attribute 'strip'

/Users/guy/Projects/noni/pfp/venv/lib/python3.10/site-packages/camelot/parsers/base.py:238: UserWarning: No tables found in table area (62.0, 80.5, 529.0, 282.93055555555554)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)
/Users/guy/Projects/noni/pfp/venv/lib/python3.10/site-packages/camelot/parsers/base.py:238: UserWarning: No tables found in table area (75.0, 574.5, 454.53390000000013, 705.2338039215686)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Error processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2004.pdf: sequence index out of range
Error processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2010.pdf: 'float' object has no attribute 'strip'
Error processing /Users/guy/Projects/noni/pfp/data/raw/cei-2021-appentix-employer-ratings.pdf: sequence index out of range

In [15]:
len(df_list)

9

In [28]:
df_list[1]

,,CEI Rating Criteria,Employer,Headquarters Location,State,15 points\n1a,15 points\n1b,5 points\n1c,10 points\n2a,10 points\n2b,10 points\n2c,10 points\n3a,10 points\n3b,15 points\n4,-25 points\n5,2018 \nCEI Rating,2017 \nCEI Rating,Fortune 1000
0,,,Consumers Energy,Jackson,MI,2,2,2,2,2,2,2,2,2,,100,95,403
1,1a Prohibits Discrimination Based,,,,,,,,,,,,,,,,,
2,,on Sexual Orientation for All,,,,,,,,,,,,,,,,
3,,,Convergys Corp.,Cincinnati,OH,2,2,2,2,2,2,2,2,2,,100,100,744
4,,Operations (15 points),,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,,,MetLife Inc.,New York,NY,2,2,2,2,2,2,2,2,2,,100,100,40
451,,,MGM Resorts International,Los Vegas,NV,2,2,2,2,2,2,2,2,2,,100,100,309
452,,,Michael Best & Friedrich LLP,Milwaukee,WI,2,2,2,2,2,2,2,2,2,,100,100,
453,,,Microsoft Corp.,Redmond,WA,2,2,2,2,2,2,2,2,2,,100,100,25
454,,,"Milbank, Tweed, Hadley & McCloy LLP",New York,NY,2,2,2,2,2,2,2,2,2,,100,100,

In [48]:
print(utils.is_public_heuristic("NVIDIA Corp."))        # returns 1
print(utils.is_public_heuristic("Baker & Partners LLP"))  # returns 0

1
0

In [21]:
list(df_list[3].Employer)

['Nissan North America Inc.',
 'Nixon Peabody LLP',
 'Nordstrom Inc.',
 'Northern Trust Corp.',
 'Northrop Grumman Corp.',
 'Northwestern Mutual Life Insurance',
 'Norton Rose Fulbright',
 'Novartis Pharmaceuticals Corp.',
 'NVIDIA Corp.',
 'Ofﬁce Depot Inc.',
 'Ogilvy Group Inc., The',
 'O’Melveny & Myers LLP',
 'Oracle Corp.',
 'Orbitz Worldwide Inc.',
 'Orrick, Herrington & Sutcliffe LLP',
 'Outerwall Inc.',
 'Owens Corning',
 'Patterson Belknap Webb & Tyler LLP',
 'Paul Hastings LLP',
 'Paul, Weiss, Rifkind, Wharton & Garrison LLP',
 'PayPal Holdings Inc.',
 'Pearson Inc.',
 'Pepper Hamilton LLP',
 'PepsiCo Inc.',
 'Perkins Coie LLP',
 'Pﬁzer Inc.',
 'PG&E Corp.',
 'Pillsbury Winthrop Shaw Pittman LLP',
 'PNC Financial Services Group Inc., The',
 'Portland General Electric Co.',
 'PricewaterhouseCoopers LLP',
 'Principal Financial Group',
 'Procter & Gamble Co.',
 'Prudential Financial Inc.',
 'QUALCOMM Inc.',
 'Quarles & Brady LLP',
 'Raytheon Co.',
 'Razorﬁsh',
 'RBC Capital Markets LLC',
 'RBC Wealth Management',
 'Re:Sources USA Inc.',
 'Reed Smith LLP',
 'Replacements Ltd.',
 'Robins Kaplan LLP',
 'Rockland Trust Co.',
 'Employer',
 'Rockwell Automation Inc.',
 'Rockwell Collins Inc.',
 'Ropes & Gray LLP',
 'Royal Caribbean Cruises Ltd.',
 'S.C. Johnson & Son Inc.',
 'Saatchi & Saatchi North America Inc.',
 'SAP America Inc.',
 'Schiff Hardin LLP',
 'Sears Holdings Corp.',
 'Sedgwick LLP',
 'Sempra Energy',
 'Seyfarth Shaw LLP',
 'Shearman & Sterling LLP',
 'Shell Oil Co.',
 'Sheppard, Mullin, Richter & Hampton LLP',
 'Shook, Hardy & Bacon LLP',
 'Sidley Austin LLP',
 'Simpson, Thacher & Bartlett LLP',
 'SIRIUS XM Radio Inc.',
 'Skadden, Arps, Slate, Meagher & Flom LLP',
 'Slalom Consulting',
 'Sodexo Inc.',
 'Sony Corporation of America',
 'Sony Electronics Inc.',
 'Sony Pictures Entertainment Inc.',
 'Southern California Edison Co.',
 'Southwest Airlines Co.',
 'Sprint Corp.',
 'Squire Patton Boggs',
 'Staples Inc.',
 'Starbucks Corp.',
 'Starcom MediaVest Group',
 'Starwood Hotels & Resorts Worldwide',
 'State Farm Group',
 'State Street Corp.',
 'Steelcase Inc.',
 'Sun Life Financial Inc. (US)',
 'SunTrust Banks Inc.',
 'Sutherland Asbill & Brennan LLP',
 'Symantec Corp.',
 'Synchrony Financial',
 'Target Corp.',
 'TD Ameritrade',
 'TD Bank N.A.',
 'TD Securities (USA) LLC',
 'Teachers Insurance and Annuity Association - College Retirement Equities Fund',
 'Employer',
 'Tech Data Corp.',
 'Tesla Motors Inc.',
 'The Cosmopolitan of Las Vegas',
 'Thermo Fisher Scientiﬁc Inc.',
 'Thompson Coburn LLP',
 'Thompson Hine LLP',
 'Thomson Reuters',
 'Time Warner Cable Inc.',
 'Time Warner Inc.',
 'TJX Companies Inc., The',
 'T-Mobile USA Inc.',
 'Towers Watson & Co.',
 'Toyota North America Inc.',
 'Travelers Companies Inc., The',
 'Troutman Sanders LLP',
 'Turner Construction Co.',
 'Twitter Inc.',
 'U.S. Bancorp',
 'Uber Technologies Inc.',
 'UBS AG',
 'Unilever',
 'Union Bank',
 'United Airlines',
 'Vanguard Group Inc.',
 'Viacom Inc.',
 'Vinson & Elkins LLP',
 'Visa',
 'Volkswagen Group of America Inc.',
 'Voya Financial',
 'W.W. Grainger Inc.',
 'Wachtell, Lipton, Rosen & Katz',
 'Walgreen Co.',
 'Walt Disney Co., The',
 'WeddingWire Inc.',
 'Weil, Gotshal & Manges LLP',
 'Wells Fargo & Co.',
 'Whirlpool Corp.',
 'White & Case LLP',
 'WhiteWave Foods Co., The',
 'Wiley Rein LLP',
 'Wilmer Cutler Pickering Hale & Dorr LLP',
 'Winston & Strawn LLP',
 'Womble Carlyle Sandridge & Rice LLP',
 'Wynn Resorts Ltd.',
 'Xerox Corp.',
 'Yahoo! Inc.',
 'Yelp Inc.',
 'Corporate Equality Index Rating Criteria',
 '1a',
 '',
 '1b   Prohibits Discrimination Based on Gender Identity or Expression for',
 '',
 '1c',
 '',
 'Employer',
 '3M Co.',
 'A.T. Kearney Inc.',
 'A|X Armani Exchange',
 'Abbott Laboratories',
 'AbbVie Inc.',
 'Abercrombie & Fitch Co.',
 'Accenture',
 'Acer Inc.',
 'Adecco North America LLC',
 'Adidas North America Inc.',
 'Adobe Systems Inc.',
 'Advance Auto Parts (Advance Holding)',
 'Advanced Micro Devices Inc.',
 'AECOM',
 'Aéropostale Inc.',
 'AES Corp., The',
 'Aetna Inc.',
 'AFLAC Inc.',
 'Agco',
 'Agilent Technologies Inc.',
 'AGL Resources Inc.',
 'Ahold USA Inc.',
 'AIG',
 'Air Products & Chemicals Inc.',
 'Airbnb Inc.',
 'Airgas Inc.',
 'AK Steel Holding Corp.',
 'Akamai Technologies Inc.',
 'Akerman LLP',
 'Akin, Gump, Strauss, Hauer & Feld LLP',
 'Alaska Airlines',
 'Alcatel-Lucent',
 'Alcoa Inc.',
 'Alleghany Corp.',
 'Allegheny Energy Inc.',
 'Allergan Inc.',
 'AllianceBernstein LP',
 'Alliant Energy Corp.',
 'Alliant Techsystems Inc.',
 'Allianz Life Insurance Co. of North America',
 'Allscripts-Misys Healthcare Solutions Inc.',
 'Allstate Corp., The',
 'Ally Financial Inc.',
 'Alston & Bird LLP',
 'Employer',
 'Altria Group Inc.',
 'Amazon.com Inc.',
 'AMC Entertainment Inc.',
 'Ameren Corp.',
 'American Airlines',
 'American Apparel Inc.',
 'American Eagle Outﬁtters Inc.',
 'American Electric Power Co. Inc.',
 'American Express Co.',
 'American Express Global Business Travel',
 'American Family Insurance Group',
 'American Financial Group',
 'Ameriprise Financial Inc.',
 'AmerisourceBergen Corp.',
 'Amgen Inc.',
 'Anadarko Petroleum',
 'Andersons Inc., The',
 'Andrews Kurth LLP',
 'Anheuser-Busch Companies Inc.',
 'Anixter International Inc.',
 'Anthem Inc.',
 'AOL',
 'Aon Corp.',
 'Apache Corp.',
 'Apple Inc.',
 'Applied Materials Inc.',
 'Aramark Corp.',
 'Archer Daniels Midland Co.',
 'Arent Fox LLP',
 'Armstrong Teasdale LLP',
 'Arnold & Porter LLP',
 'Arrow Electronics',
 'Asbury Automotive Group',
 'Ashland Inc.',
 'Assurant',
 'Astellas Pharma US Inc.',
 'AstraZeneca PLC',
 'AT&T Inc.',
 'Austin Radiological Assn.',
 'Autodesk Inc.',
 'Autoliv Inc.',
 'Automatic Data Processing Inc.',
 'AutoNation Inc.',
 'Auto-Owners Insurance Group']

In [ ]:
years = [utils.extract_year_from_filename(path) for path in pdf_list] # if extract_year_from_filename(path) is not None]
print(years)

[2009, 2008, 2018, 2020, 2016, 2015, 2019, 2022, 2017, 2014, 2003, 2002, 2006, 2012, 2013, 2011, 2005, 2004, 2010, 2021]

In [ ]:
Todo:

List of employers
List of public employers
Long-short public employers around release dates

In [1]:
import pandas as pd
from rapidfuzz import fuzz, process
import re

def normalize_name(name):
    """Lowercase and remove common corporate suffixes."""
    name = name.lower()
    name = re.sub(r'\b(incorporated|inc|corp|corporation|co|ltd|llc|plc)\b', '', name)
    name = re.sub(r'[^a-z0-9 ]', '', name)  # Remove punctuation
    name = re.sub(r'\s+', ' ', name).strip()
    return name

def match_cei_to_public(cei_df, public_df, threshold=90):
    """
    Matches CEI employers to public companies using fuzzy matching.

    Parameters:
    - cei_df: DataFrame with CEI employers, column 'Employer'
    - public_df: DataFrame with public companies, column 'Company'
    - threshold: minimum similarity score to consider a match

    Returns:
    - cei_df with added 'Matched_Public_Company' and 'Match_Score' columns
    """
    cei_df['Normalized_Employer'] = cei_df['Employer'].apply(normalize_name)
    public_df['Normalized_Company'] = public_df['Company'].apply(normalize_name)

    public_names = public_df['Normalized_Company'].tolist()
    matched_names = []
    match_scores = []

    for name in cei_df['Normalized_Employer']:
        match, score, _ = process.extractOne(name, public_names, scorer=fuzz.token_set_ratio)
        matched_names.append(match if score >= threshold else None)
        match_scores.append(score if score >= threshold else None)

    cei_df['Matched_Public_Company'] = matched_names
    cei_df['Match_Score'] = match_scores

    # Optionally merge to get the original public company name
    merged = cei_df.merge(public_df[['Normalized_Company', 'Company']], 
                          how='left', left_on='Matched_Public_Company', right_on='Normalized_Company')
    merged.drop(columns=['Normalized_Employer', 'Normalized_Company'], inplace=True)
    return merged

# Example usage
# cei_df = pd.read_csv('cei_employers.csv')  # contains 'Employer' column
# public_df = pd.read_csv('public_companies.csv')  # contains 'Company' column

# matched_df = match_cei_to_public(cei_df, public_df)
# matched_df.to_csv('matched_cei_employers.csv', index=False)

In [16]:
stock_df = pd.read_csv(DATA_PATH+'stock prices for all ranked firms.csv')

/var/folders/3d/jm76jwsd4sd7wg__2pckn8l80000gn/T/ipykernel_50430/3169749974.py:1: DtypeWarning: Columns (5,6,9,19,22,24,49,57) have mixed types. Specify dtype option on import or set low_memory=False.
  stock_df = pd.read_csv(DATA_PATH+'stock prices for all ranked firms.csv')

In [17]:
nvda_stocks_df = stock_df[stock_df.TICKER=='NVDA']

In [18]:
stock_df[stock_df.TICKER=='NVDA']

,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,SHRCLS,...,CFACPR,CFACSHR,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
3183230,86580,2002-01-02,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,120.0,120.0,67.195,25947.0,0.005979,0.003832,0.003712,0.007914,0.007854,0.005740
3183231,86580,2002-01-03,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,120.0,120.0,67.440,30700.0,0.065527,0.009844,0.009830,0.012919,0.012895,0.009180
3183232,86580,2002-01-04,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,120.0,120.0,72.660,23492.0,-0.029145,0.006987,0.006986,0.011263,0.011251,0.006213
3183233,86580,2002-01-07,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,120.0,120.0,69.900,23891.0,-0.02686,-0.006531,-0.006535,-0.000112,-0.000128,-0.006499
3183234,86580,2002-01-08,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,120.0,120.0,67.610,20861.0,0.011808,-0.002443,-0.002651,0.004929,0.004899,-0.003588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189014,86580,2024-12-24,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,1.0,1.0,140.000,839874.0,0.003938,0.010566,0.010521,0.010448,0.010250,0.011043
3189015,86580,2024-12-26,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,1.0,1.0,139.700,944955.0,-0.002068,0.000346,0.000282,0.012231,0.012038,-0.000406
3189016,86580,2024-12-27,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,1.0,1.0,138.550,1340000.0,-0.020868,-0.010692,-0.010775,-0.004451,-0.004754,-0.011056
3189017,86580,2024-12-30,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,1.0,1.0,134.830,1350000.0,0.003503,-0.009878,-0.009900,-0.000715,-0.001173,-0.010702
3189018,86580,2024-12-31,NaN,11.0,3.0,3670,67066G10,NVDA,NVIDIA CORP,NaN,...,1.0,1.0,138.030,1200000.0,-0.023275,-0.003392,-0.003541,-0.000125,-0.000491,-0.004285

In [24]:
import pandas as pd
from rapidfuzz import fuzz, process
import re

def normalize_name(name):
    """Lowercase and remove common corporate suffixes."""
    name = name.lower()
    name = re.sub(r'\b(incorporated|inc|corp|corporation|co|ltd|llc|plc)\b', '', name)
    name = re.sub(r'[^a-z0-9 ]', '', name)  # Remove punctuation
    name = re.sub(r'\s+', ' ', name).strip()
    return name

def match_cei_to_public(cei_df, public_df, threshold=90):
    """
    Matches CEI employers to public companies using fuzzy matching.

    Parameters:
    - cei_df: DataFrame with CEI employers, column 'Employer'
    - public_df: DataFrame with public companies, column 'Company'
    - threshold: minimum similarity score to consider a match

    Returns:
    - cei_df with added 'Matched_Public_Company' and 'Match_Score' columns
    """
    cei_df['Normalized_Employer'] = cei_df['Employer'].apply(normalize_name)
    public_df['Normalized_Company'] = public_df['COMNAM'].apply(normalize_name)

    public_names = public_df['Normalized_Company'].tolist()
    matched_names = []
    match_scores = []

    for name in cei_df['Normalized_Employer']:
        match, score, _ = process.extractOne(name, public_names, scorer=fuzz.token_set_ratio)
        matched_names.append(match if score >= threshold else None)
        match_scores.append(score if score >= threshold else None)

    cei_df['Matched_Public_Company'] = matched_names
    cei_df['Match_Score'] = match_scores

    # Optionally merge to get the original public company name
    merged = cei_df.merge(public_df[['Normalized_Company', 'COMNAM']], 
                          how='left', left_on='Matched_Public_Company', right_on='Normalized_Company')
    merged.drop(columns=['Normalized_Employer', 'Normalized_Company'], inplace=True)
    return merged

# Example usage
# cei_df = pd.read_csv('cei_employers.csv')  # contains 'Employer' column
# public_df = pd.read_csv('public_companies.csv')  # contains 'Company' column

# matched_df = match_cei_to_public(cei_df, public_df)
# matched_df.to_csv('matched_cei_employers.csv', index=False)

In [31]:
def process_cei_pdfs(pdf_file_list):
    """
    Processes a list of CEI rating PDFs into a list of dataframes, each tagged with its year.
    
    Args:
        pdf_file_list (list[str]): List of file paths to PDF files.
    
    Returns:
        list[pd.DataFrame]: A list of dataframes with a 'Year' column added.
    """
    dataframes = []
    
    for pdf_path in pdf_file_list:
        try:
            year = utils.extract_year_from_filename(pdf_path)
            df = utils.pdf_to_df(pdf_path)
            df['Year'] = year
            dataframes.append(df)
        except Exception as e:
            print(f"[ERROR] Failed processing {pdf_path}: {e}")
    
    return dataframes

In [32]:
dfs = process_cei_pdfs(pdf_list)

[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2009.pdf: 'float' object has no attribute 'strip'
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CEI-2015-rev.pdf: 'float' object has no attribute 'strip'
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CEI-2022-Appendices-G.pdf: sequence index out of range
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CEI_2014_final_draft_7.pdf: 'float' object has no attribute 'strip'
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2003.pdf: sequence index out of range
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2002.pdf: sequence index out of range

/Users/guy/Projects/noni/pfp/venv/lib/python3.10/site-packages/camelot/parsers/base.py:238: UserWarning: No tables found in table area (99.0, 129.70100000000002, 548.8930000000001, 421.97650000000004)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2006.pdf: 'float' object has no attribute 'strip'
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2013.pdf: 'float' object has no attribute 'strip'

/Users/guy/Projects/noni/pfp/venv/lib/python3.10/site-packages/camelot/parsers/base.py:238: UserWarning: No tables found in table area (62.0, 80.5, 529.0, 282.93055555555554)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)
/Users/guy/Projects/noni/pfp/venv/lib/python3.10/site-packages/camelot/parsers/base.py:238: UserWarning: No tables found in table area (75.0, 574.5, 454.53390000000013, 705.2338039215686)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2004.pdf: sequence index out of range
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/CorporateEqualityIndex_2010.pdf: 'float' object has no attribute 'strip'
[ERROR] Failed processing /Users/guy/Projects/noni/pfp/data/raw/cei-2021-appentix-employer-ratings.pdf: sequence index out of range

In [34]:
dfs[0]

                                Employer 2008 CEI Rating  Year
0              ADVERTISING AND MARKETING                  2008
1                Starcom MediaVest Group             100  2008
2                          WPP Group USA              93  2008
3    Interpublic Group of Companies Inc.              60  2008
4                          Omnicom Group              30  2008
..                                   ...             ...   ...
320                       Medtronic Inc.              85  2008
321                        Owens & Minor              85  2008
322                        Guidant Corp.              80  2008
323               Quest Diagnostics Inc.              80  2008
324            PacifiCare Health Systems              68  2008

[325 rows x 3 columns]